.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 2rem 0.2rem;
  width: 100%;
  background-color: #160e39;
}

.container__footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .container__footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container__footer .wrapper .cols {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__footer .wrapper .cols h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e38e18;
}

.container__footer .wrapper .cols .content a {
  color: darkgrey;
  text-decoration: none;
}

.container__footer .wrapper .cols .content a:hover {
  text-decoration: underline;
}

.container__footer .wrapper .cols span {
  font-size: 1rem;
  text-align: justify;
  color: darkgray;
}

.container__footer .wrapper .cols .title span {
  display: block;
  width: 3rem;
  height: 2px;
  background-color: white;
}

@media screen and (max-width: 578px) {
  .container__footer .wrapper .cols .title span {
    width: 4rem;
  }
}

.container__footer .wrapper .cols:nth-child(3) .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.container__footer .wrapper .cols:nth-child(4) .title h3 {
  text-transform: capitalize;
}

.container__footer .wrapper .cols:nth-child(4) .title form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  row-gap: 1.5rem;
}

.container__footer .wrapper .cols:nth-child(4) .title form input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 0px;
  font-size: 1rem;
}

.container__footer .wrapper .cols:nth-child(4) .title form input:focus {
  outline: none;
}

.container__footer .wrapper .cols:nth-child(4) .title form button {
  display: block !important;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
  background-color: #e38e18;
}

.container__footer .wrapper .cols:nth-child(4) .title form button:hover {
  color: white;
  background-color: #160e39;
  border: 2px solid #e38e18;
  border-radius: 10px;
}
/*# sourceMappingURL=Footer.css.map */