@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
.navbar_Navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white !important;
  height: auto;
  border-bottom: 0.5px solid #f8f1f1 !important;
}

.navbar_Navbar .nav_inner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
}

.navbar_Navbar .nav_inner2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 560px) {
  .navbar_Navbar .nav_inner2 ul {
    margin-top: 20px;
  }
}

.navbar_Navbar .nav_inner2 .items {
  font-family: Roboto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  padding: 0 0.5rem;
  color: #160E39 !important;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0.2rem;
  border-width: 5px solid;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.navbar_Navbar .nav_inner2 .items:hover {
  border-bottom: 3px solid #08445e;
}

@media screen and (max-width: 960px) {
  .navbar_Navbar .nav_inner2 .items {
    font-size: 1rem;
    font-weight: normal;
    margin: 0px;
    padding: 0 0.3rem;
    text-align: right;
  }
}

@media screen and (max-width: 760px) {
  .navbar_Navbar .nav_inner2 .items {
    font-size: 0.9rem;
    margin: 0px;
    font-weight: normal;
    padding: 0 0.2rem;
    text-align: left;
  }
}

.my-dropdown_nav {
  font-family: Roboto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  padding: 0 0.8rem;
  color: #160E39 !important;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0.2rem;
  border-width: 5px solid;
  letter-spacing: 0.1rem;
  text-decoration: none;
  background-color: white !important;
}

.my-dropdown_nav:hover {
  border-bottom: 3px solid #08445e;
}

@media screen and (max-width: 960px) {
  .my-dropdown_nav {
    font-size: 1rem;
    font-weight: normal;
    margin: 0px;
    padding: 0 0.3rem;
    text-align: right;
  }
}

@media screen and (max-width: 760px) {
  .my-dropdown_nav {
    font-size: 0.9rem;
    margin: 0px;
    font-weight: normal;
    padding: 0 0.2rem;
    text-align: left;
  }
}

.mydropdown {
  outline: 0px !important;
  border: 0px !important;
}

.mydropdown:hover {
  border: 0px !important;
}

@media screen and (max-width: 560px) {
  .nav-item {
    margin: 0.2rem 0;
  }
}
/*# sourceMappingURL=Navbar.css.map */